@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #777777ad;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: beige;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.movie-poster-modal {
    width: 300px;
}

html  {
    font-family: 'Roboto', sans-serif;
}

.movie-card {
    display: flex;
    align-items: center;
    height: 65vh;
    margin-top: 5rem;
    background: linear-gradient(to right, rgba(22.75%, 28.53%, 23.53%, 1.00) 150px, rgba(22.75%, 23.53%, 28.24%, 0.84) 100%),
    url('../images/backround.jpg');
    background-size: cover;
}

.movie-poster-container {
    height: 85%;
    width: 30%;
    text-align: right;
    position: relative;
    left: -50rem;
    animation: slide-from-left 3.5s ease-in-out forwards
}

@keyframes slide-from-left {
    80% {left: 1rem;}
    100% {left: 0;}
}

.carousel {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    margin-left: 0px;
    margin-top: 1rem;
}

.carousel img {
    width: 15rem;
}

.carousel .carousel_item, 
.carousel .carousel_item-visible {
    display: none;
}

.carousel .carousel_item-visible {
    display: block;
    animation: fade-In 1s;
}

@keyframes fade-In {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel_actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border: 0;
    background-color: #7777779c;
    font-size: 1rem;
    color: #fff;
    margin: 0.5rem;
}

.movie-poster {
    height: 100%;
    border-radius: 5px;
    margin-right: 2rem;
    transition: all 1s;
    cursor: pointer;
}

.movie-poster:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px darkcyan;
}

.movie-info-container {
    height: 100%;
    width: 70%;
    color: #fff;
    padding-top: 2rem;
    padding-top: 2rem;
}

.movie-info-container> *:not(.movie-info-title) {
    opacity: 0;
    animation: kadunud 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes kadunud {
    100% {opacity: 1;}
}

.movie-info-title{
    text-transform: capitalize;
    margin-top: 0;
    transform: translateY(-150px);
    animation: slide-from-top 3.5s ease-in-out forwards;
}

@keyframes slide-from-top {
    80% {transform: translateY(1rem);}
    100% {transform: translateY(0);}
}

.movie-genres {
    margin-top: 1.2rem;
}

.movie-rating {
    border: 1px solid #777;
    color: #777;
    padding: 0.3rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1ram;
    letter-spacing: 0.1rem;
}

.movie-duration:before {
    content: "\2022"
}

.movie-info-actions {
    font-size: 1.1rem;
}

.movie-info-actions ul {
    list-style: none;
    margin-top: 1rem;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    background-color: rgba(3, 37, 65);
    border-radius: 50%;
}

.movie-info-actions ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.movie-info-quote {
    font-size: italic;
    color: rgba(255, 255, 255, 0.459);
    margin-top: 2rem;
    font-size: 1.2rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #777;
}